<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AppiumFrameworkSuite" verbose="1">

    <test name="SmokeCrawl">
        <classes>
            <class name="com.automation.tests.SmokeCrawlTest"/>
        </classes>
    </test>

    <test name="AppSpecific">
        <classes>
            <class name="com.automation.tests.SampleTest"/>
        </classes>
    </test>

</suite>
